<div>
  <div class="container-flex-page-title-translation">
    <div class="item-flex-page-title-translation welcome">
      <h3>Bem-vindo(a) à minha</h3>
      <br>
      <h2>🏠 Página Inicial!</h2>
    </div>
    <div class="item-flex-page-title-translation translation">
    </div>
  </div>

  <div><strong>Quer me conhecer um pouco mais?</strong></div>
  <ul>
    <li>👉 Explore <a href="/learning-gallery">meus interesses</a></li>
    <li>👉 Me siga no <a href="https://www.linkedin.com/in/thales-menegueco/">Linkedin</a></li>
  </ul>
</div>