<div>
  <div class="container-flex-page-title-translation">
    <div class="item-flex-page-title-translation welcome">
      <h3>Bem-vindo(a) à minha</h3>
      <h2>🤓 Galeria de interesses!</h2>
    </div>
    <div class="item-flex-page-title-translation translation">
      <app-sign-language-translation [linkForVideo]="galleryPageTranslation.linkForVideo"
        [videoDescription]="galleryPageTranslation.videoDescription">
      </app-sign-language-translation>
    </div>
  </div>

  <div class="flex-interests">
    @for (item of interests; track $index) {
    <app-interest [image]="item.image" [name]="item.name" [description]="item.description">
    </app-interest>
    }
  </div>

</div>