/* Global styles */
@use "sass:list";
@use "sass:color";


$primary-color: #ffa300;
$secondary-color: #ec0dcf;
$standart-text-color: whitesmoke;


.flex-interests {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}