<nav>
  <h1>Thales Menegueço</h1>
  
  <ul>
    <!-- Uncomment the following lines to add navigation links -->
    <!--
    <li>
      <a routerLink="/home"
        routerLinkActive="active">
        🏠 Home
      </a>
    </li>
    <li>
      <a routerLink="/learning-gallery"
        routerLinkActive="active">
        📚 Galeria de Interesses
      </a>
    </li> -->
    <li>
      <a href="/home">
        🏠 Home
      </a>
    </li>
    <li>
      <a href="/learning-gallery">
        📚 Interesses
      </a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet> <!-- component will be rendered here -->
</main>
