<nav>
  <h1>Thales Menegueço</h1>
  <div class="pages-links">
    <ul>
      <li>
        <a href="/home">
          🏠 Home
        </a>
      </li>
      <li>
        <a href="/project-gallery">
          🤓 Interesses
        </a>
      </li>
      <li>
        <a href="/tools">
          🧪 Lab de Ferramentas
        </a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet> <!-- component will be rendered here -->
</main>
<footer>
  <p>Thales Menegueço 👋🧏 📈📊 📚🧩</p>
  <p>Código fonte disponível no <a href="https://github.com/thalesmenegueco/thalesmenegueco.github.io">Github</a></p>
</footer>