<nav>
  <h2>Thales Menegueço</h2>
  <div class="pages-links">
    <ul>
      <li>
        <a href="/project-gallery">
          🤓 Projetos
        </a>
      </li>
      <li>
        <a href="/tools">
          🧪 Lab
        </a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet> <!-- component will be rendered here -->
</main>
<footer>
  <p>Thales Menegueço 👋🧏 📈📊 📚🧩</p>
  <p>Código fonte disponível no <a href="https://github.com/thalesmenegueco/thalesmenegueco.github.io">Github</a></p>
</footer>