/* You can add global styles to this file, and also import other style files */
@use "sass:list";
@use "sass:color";

$font-stack: Helvetica, Arial;
$primary-color: #2b05ff;
$secondary-color: #ec0dcf;
$standart-text-color: whitesmoke;

html {
  background-color: rgb(5, 5, 5);
  color: $standart-text-color;
}

nav > ul {
  list-style: none;
}

body {
  $font-stack: list.append($font-stack, sans-serif);
  font: $font-stack;
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  color: $primary-color;

  &:hover{
    color: color.scale($primary-color, $lightness: 20%);
  }
}

h2 {
    color: $secondary-color;
    
    &:hover {
        color: color.scale($secondary-color, $lightness: 20%);
    }
}

a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
        color: color.scale($secondary-color, $lightness: 40%);
        text-decoration: underline;
    }
}
