.top-projects {
  background: transparent;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
}

.top-projects__title {
  text-align: center;
  margin-bottom: 10px;
}
