name: Deploy Angular to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Permissão para escrever no repositório
      pages: write    # Permissão para gerenciar o GitHub Pages
      id-token: write # Necessário para autenticação OIDC (boas práticas)

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Install dependencies
      run: npm install

    - name: Install Angular CLI
      run: npm install -g @angular/cli


    - name: Build Angular App
      run: ng build --configuration production --base-href /thalesmenegueco.github.io/

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist/learning-gallery/browser # Location of the folder to published
        publish_branch: gh-pages
